{% extends "base.html"%}


{% block content %}
 <div class="col-md-3">
 <form method="POST" id="formadd">
     {{ipleft}}
        <br>
        <input type="submit" name="" value="upload">
 </form>
</div>

<div class="col-md-3">

 <form enctype="multipart/form-data" method="POST">
     {{ipright}}
        <br>
        <input type="submit" name="" value="upload">
 </form>
</div>
{% endblock%}

{% block ajax %}
$(document).ready(function(){
  $('#formadd').submit(function(){
        var ip = $("#id_ip").val();
        var user = $("#id_user").val();
        var password = $("#id_password").val();

   $.ajax({
         type:"POST",
         data:{ip:ip,user=user,password=password},
         url :"{%url 'ipadd'%}",
         cache:false,
         dataType:"html",
         success: function(result,status,xml){
           alert(result);
         };
         error:function(){
           alert("false");
         };

   })
        return false;
});

});
{% endblock %}


