{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
       <!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->

    </head>

    <body>
<div class="container">

  <div class='header'></div>
<!--row start-->

        <div class="row">



<!--left start-->
           <div class="col-md-9" >


        <div class=' mylabel'>

<!--left-comment start-->                   
                    <div class="comment">
                    <h4 style="margin-left: 170px;" >通知</h4>
                     {%for i in mo %}
                    <p data-toggle="modal" data-target="#{{i.id}}">{{i.title}}</p>
                     {%endfor%}
                    <p>hello world</p>
                    <p>hello world</p>
                    <p>hello world</p>
                    
                   </div>
                    
<!--left-comment end-->
                   

<!--left page start-->
<div class=" mypaginatione">

   <div class="sui-pagination">
    <ul>
      <li class="prev disabled"><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="next"><a href="#">»</a></li>
    </ul>
  </div>
	
</div> 
<!--left page end-->

                    
        </div>

       </div>

<!--left end--> 

<!--right start-->

   <div class='col-md-3 '>

<!--right-login start-->
     <form method="post" >
         <table class='table'>
           {%for u in uf %}
             <tr>
               <td>{{u.label_tag}} {{u}}</td>
               <td>{{u.errors}}</td>
               </tr>
              <tr>
             {%endfor%}   
                <td> <input type="submit" name="" value="denglu"> </td>
                <td> <input type="submit" name="" value="zhuce"></td>
                </tr>
         </table> 
     </form>
 <!--right-login end -->    
       </div>
<!--right end-->



 </div>

<!--row end-->

</div>

  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>