{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
       <!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->

    </head>

    <body>
<div class="container">

  <div class='header'></div>
<!--row start-->

        <div class="row">



<!--left start-->
           <div class="col-md-9" >


        <div class=' mylabel'>

<!--left-comment start-->                   
                    <div class="comment">
                    <h4 style="margin-left: 170px;" >通知</h4>
                     {%for i in mo %}
                    <p data-toggle="modal" data-target="#{{i.id}}">{{i.title}}</p>
                     {%endfor%}
                    
                    
                   </div>

 
                    
<!--left-comment end-->
                   

<!--left page start-->
<div class=" mypaginatione">

  <nav>
  <ul class="pagination">

    <li><a href="?page=
    {% if mo.has_previous %}
       {{ mo.previous_page_number }}
    {% else %}
        {{mo.number}}
    {% endif %}
    ">&laquo;</a></li>

    {% for page in pages.page_range %}
    <li><a href="?page={{page}}">{{page}}</a></li>
    {% endfor %}

    <li><a href="?page=
    {% if mo.has_next %}
        {{ mo.next_page_number }}
    {% else %}
        {{ mo.number }}
    {% endif %}
    ">&raquo;</a></li>
  </ul>
</nav>
	
</div> 
<!--left page end-->

                    
        </div>

       </div>

<!--left end--> 

<!--right start-->

   <div class='col-md-3 '>

<!--right-login start-->
     <form method="post" >
         <table class='table'>
           {%for u in uf %}
             <tr>
               <td>{{u.label_tag}}</td>
               <td>{{u}}</td>
               <td>{{u.errors}}</td>
               </tr>
           {%endfor%}  

         </table> 
      <input class="btn btn-default" type="submit" style="margin-left: 20px" value="denglu">
      <button class="btn btn-default" style="float: right;margin-right: 5px" type="button">zhuce</button>
     </form>
    
 <!--right-login end -->    
       </div>
<!--right end-->



 </div>

<!--row end-->

</div>

<!--show detail start-->

<!-- Modal -->
 {%for i in mo %}
<div class="modal fade" id="{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{i.title}}</h4>
      </div>
      <div class="modal-body" style="word-break:break-all;">
        {{i.comment}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--show detail end-->

  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </body>
</html>